{% extends 'menu_management/base.html' %}

{% block title %}Delete Category{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Delete Category</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-warning">
                    <h5>Are you sure?</h5>
                    <p>Are you sure you want to delete the category <strong>"{{ object.name }}"</strong>? This action cannot be undone.</p>
                    {% if object.menu_items.count %}
                    <p class="text-danger">
                        <strong>Warning:</strong> This category has {{ object.menu_items.count }} menu item(s) that will also be deleted.
                    </p>
                    {% endif %}
                </div>
                
                <form method="post">
                    {% csrf_token %}
                    <div class="text-end">
                        <a href="{% url 'menu_management:category_list' %}" class="btn btn-secondary me-2">Cancel</a>
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
