{% load menu_tags %}

<div class="sidebar-area" id="sidebar-area">
    {% menu_settings as settings %}
    <div class="logo position-relative">
        <a
            href="/dashboard"
            class="d-block text-decoration-none position-relative"
        >
            <img src="{{ settings.logo_icon }}" alt="logo-icon" />
            <span class="logo-text fw-bold text-dark">{{ settings.site_name }}</span>
        </a>
        <button
            class="sidebar-burger-menu bg-transparent p-0 border-0 opacity-0 z-n1 position-absolute top-50 end-0 translate-middle-y"
            id="sidebar-burger-menu"
        >
            <i data-feather="x"></i>
        </button>
    </div>

    <aside
        id="layout-menu"
        class="layout-menu menu-vertical menu active"
        data-simplebar
    >
        <ul class="menu-inner">
            {% render_sidebar_menu %}
        </ul>
    </aside>
</div>
